<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Manners Maketh Man</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="hero">
    <div class="top-right">
      {% if not user %}
        <a href="/login"><button class="login-btn">로그인</button></a>
        <a href="/signup"><button class="signup-btn">회원가입</button></a>
      {% else %}
        <span class="greeting">{{ user.nickname }} 님</span>
        <a href="/logout"><button class="logout-btn">로그아웃</button></a>
      {% endif %}
    </div>
     <!-- 중앙 콘텐츠 영역 -->
    <div class="hero-content">
      {% if user %}
        <!-- 버튼 요소로 변경하여 클릭 가능하도록 설정 -->
        <button class="btn upload-hero-btn" onclick="location.href='{{ url_for('upload') }}'">
          사진 업로드 하러 가기
        </button>
      {% endif %}
    </div>
  </div>
</body>
</html>
