.form-container {
  height: 100vh;                     /* 요소의 높이를 설정 */
  display: flex;                     /* Flexbox로 정렬 */
  flex-direction: column;            /* 세로 방향 정렬 */
  justify-content: center;           /* 세로축 중앙 */
  align-items: center;               /* 가로축 중앙 */
  background-color: rgba(0, 0, 0, 0.4);
  color: black;                       /* 글자색 검정 */
}
.background {
  background-image: url('/static/images/istockphoto-1044295184-612x612.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


